services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:5000"
    volumes:
      - ./backend:/app/backend
    command: uv run python app/main.py

  frontend:
    build: 
      context: ./frontend
    ports:
      - "80:80"